{{$a := .Url}}





<span class='blc bl2 wn' style='
					{{if not .IsFirst }}
						border-left: 1px solid #aaf;
					{{end}}
					{{if .IsLast}}
						margin-right:1px;
					{{end}}
					line-height: 100%;
					aabackground-color:#aaa;
					
					' 
>
	{{with .Target}}
		<a href='{{$a}}' target='_{{.}}' >{{.Linktext}}</a>
	{{else}}
		<a href='{{$a}}' target='_appPage' >{{.Linktext}}</a>
	{{end}}
	{{with .Description}}
		<br><span style='font-size:10px'>{{.}}</span>
	{{else}}
		<!-- nothing -->
	{{end}}

	<br><span style='font-size:10px'>({{.Size}} chars)</span>
	
</span>