<Style>

	/*  block level common  */ 
	.blc {
		display:inline-block;
		vertical-align:top;
	}


	/*  block level 1  */ 
	.bl1-no-block-spaces {
		font-size:0px;
	}

	.bl1 {
		font-size: 8px;		
		vertical-align:top; 
		aaborder: 1px solid #99c;
		margin: 0px;
		margin-top: 2px
		margin-bottom:8px;
		background-color: #eef;
		aamargin-left: 4px;

	}


	.bl2 {
		font-size:14px;

		margin-top:    1px;
		margin-bottom: 4px;

		margin-left : 2px;
		margin-right: 5px;
		padding-left: 8px;
		aabackground-color: #eef;
	}

</style>

{{.NumB1}} Blocks with {{.NumB2}} Elements<br>
{{ $NColsViewport := .NColsViewport }} 


{{ $mapOrArray := .VB1 }} 



{{range $iB1, $B1 := $mapOrArray }}

	<!--
		editorial new block row
	-->
	{{if $B1.StartNewRow}}
		<div 
			class='w{{$NColsViewport}}' 
			style='display:block; line-height:1px; clear:both;' 
		> 	</div>
	{{end}}

	{{ $nelements := len $B1.VB2  }} 

	<span class='bl1-no-block-spaces' >
	<div class='blc bl1 w{{$B1.NCols}}' 
		style='
		aaborder-top: 1px solid #aab; 
		aafloat:left; 
		padding-bottom:10px;
		aamargin-right:2px;
		aamargin:4px;
		' 
	>


	{{ $vRows := fMakeRange  $B1.NRows  }} 
	{{range  $iRow1, $iRow2 :=  $vRows }}

		
		{{if not $iRow1}}
			<!-- first row with heading -->
			<span class='blc bl2' style='
					font-weight:bold;
					font-size:16px;
					width:95%;
					margin-top:4px;
					margin-bottom:0px;
				' 
			>
				{{ fChop $B1.Heading 0}}
			</span>
			<br>
		{{end}}

		
		{{$vNumCols := fMakeRange  $B1.NCols  }}
		{{range  $iCol1, $iCol2 :=  $vNumCols }}
			{{ $iElem :=  fMult $iRow1 $B1.NCols | fAdd $iCol1 }}
			{{ $inRange :=  lt  $iElem $nelements }}
			{{if $inRange}}
				{{template "tpl_legend" fAccessElementB2 $B1.VB2 $iElem}}
			{{end}}
		{{end}}


	{{end}}

	</div>
	</span class='bl1-no-block-spaces' >


{{end}}	


